    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    
    body {
        background-color: orange;
    }
    
    nav {
        width: 100%;
        background-color: transparent;
        overflow: hidden;
        position: fixed;
    }
    
    .list {
        list-style-type: none;
        float: left;
        margin-top: 15px;
    }
    
    .one span:hover {
        color: red;
    }
    
    .one {
        display: inline-block;
    }
    
    .one span {
        text-decoration: none;
        padding: 20px 30px;
        text-align: center;
        color: white;
        display: flex;
        font-weight: 700;
        font-size: 20px;
    }
    
    .list-two {
        list-style-type: none;
        float: right;
        margin-top: 15px;
    }
    
    .two span:hover {
        color: red;
    }
    
    .two {
        display: inline-block;
    }
    
    .two span {
        text-decoration: none;
        padding: 20px 30px;
        text-align: center;
        color: white;
        display: flex;
        font-weight: 700;
        font-size: 20px;
    }
    
    .img {
        width: 230px;
        height: 70px;
        cursor: pointer;
    }
    
    .logo {
        float: left;
        padding: 10px;
        padding-left: 30px;
    }
    
    .searchbox {
        left: 75%;
        top: 100px;
        position: absolute;
        transform: translate(-50%, -50%);
        background-color: #2f3640;
        height: 40px;
        border-radius: 40px;
        padding: 10px;
    }
    
    .searchbox:hover>.srch-txt {
        width: 240px;
        padding: 0 6px;
    }
    
    .searchbox:hover>.srch-btn {
        background: white;
    }
    
    .srch-btn {
        color: #e84118;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #2f3640;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition: 0.4s;
    }
    
    .srch-txt {
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: white;
        font-size: 16px;
        transition: 0.4s;
        line-height: 40px;
        width: 0px;
    }
    
    .wrapper .button {
        display: inline-block;
        height: 60px;
        width: 60px;
        margin: 0 5px;
        overflow: hidden;
        background: #fff;
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-out;
    }
    
    .wrapper .button:hover {
        width: 200px;
    }
    
    .wrapper .button .icon {
        display: inline-block;
        height: 60px;
        width: 60px;
        text-align: center;
        border-radius: 50px;
        box-sizing: border-box;
        line-height: 60px;
        transition: all 0.3s ease-out;
    }
    
    .wrapper .button:nth-child(1):hover .icon {
        background: #4267B2;
    }
    
    .wrapper .button:nth-child(2):hover .icon {
        background: #1DA1F2;
    }
    
    .wrapper .button:nth-child(3):hover .icon {
        background: #E1306C;
    }
    
    .wrapper .button:nth-child(4):hover .icon {
        background: #333;
    }
    
    .wrapper .button:nth-child(5):hover .icon {
        background: #ff0000;
    }
    
    .wrapper .button .icon i {
        font-size: 25px;
        line-height: 60px;
        transition: all 0.3s ease-out;
    }
    
    .wrapper .button:hover .icon i {
        color: #fff;
    }
    
    .wrapper .button span {
        font-size: 20px;
        font-weight: 500;
        line-height: 60px;
        margin-left: 10px;
        transition: all 0.3s ease-out;
    }
    
    .wrapper .button:nth-child(1) span {
        color: #4267B2;
    }
    
    .wrapper .button:nth-child(2) span {
        color: #1DA1F2;
    }
    
    .wrapper .button:nth-child(3) span {
        color: #E1306C;
    }
    
    .wrapper .button:nth-child(4) span {
        color: #333;
    }
    
    .wrapper .button:nth-child(5) span {
        color: #ff0000;
    }
    
    .wrapper2 {
        max-width: 350px;
        width: 100%;
        height: auto;
        background: #fff;
        padding: 60px 45px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
    }
    
    .wrapper2 .title {
        margin-bottom: 20px;
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        color: #3aaf9f;
    }
    
    .wrapper2 .social_media {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .wrapper2 .social_media .item {
        margin: 0 5px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border: 2px solid #eeeeee;
        border-radius: 50%;
        cursor: pointer;
        color: #eeeeee;
        transition: all 0.5s ease;
    }
    
    .wrapper2 .social_media .item:hover {
        border: 2px solid #3aaf9f;
        color: #3aaf9f;
    }
    
    .wrapper2 .form .input_field {
        position: relative;
        margin-bottom: 10px;
    }
    
    .wrapper2 .form .input_field .input {
        width: 90%;
        padding: 12px;
        padding-left: 30px;
        border: none;
        background: #eeeeee;
    }
    
    .wrapper2 .form .btn {
        width: 70%;
        margin: 20px auto 0;
        background: #3aaf9f;
        text-align: center;
        padding: 12px;
        border-radius: 25px;
    }
    
    .wrapper2 .form .btn a {
        color: #fff;
    }
    
    .wrapper2 .form .input_field i {
        position: absolute;
        top: 13px;
        left: 10px;
        font-size: 14px;
        color: #1d2120;
    }
    /* ::-webkit-input-placeholder {
            color: #1d2120;
        }
        
         ::-moz-placeholder {
            
            color: #1d2120;
        }
        
         :-ms-input-placeholder {
           
            color: #1d2120 ; */
    
    #sidebarMenu {
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        width: 250px;
        margin-top: 60px;
        transform: translateX(-250px);
        transition: transform 250ms ease-in-out;
        background: #2e86de;
    }
    
    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .menu li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }
    
    .menu li a {
        color: #fff;
        display: block;
        padding: 20px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
    }
    
    #openSidebarMenu:checked~#sidebarMenu {
        transform: translateX(0);
    }
    
    input#openSidebarMenu {
        display: none;
    }
    
    .sidebarIconToggle {
        height: 22px;
        width: 22px;
        position: absolute;
        z-index: 99;
        top: 22px;
        left: 15px;
        transition: all 0.3s;
        cursor: pointer;
    }
    
    .spinner {
        height: 3px;
        background-color: #fff;
        transition: all 0.3s;
    }
    
    .spinner.middle,
    .spinner.bottom {
        margin-top: 3px;
    }
    
    #openSidebarMenu:checked~.sidebarIconToggle>.spinner.middle {
        opacity: 0;
    }
    
    #openSidebarMenu:checked~.sidebarIconToggle>.spinner.top {
        transform: rotate(135deg);
        margin-top: 8px;
    }
    
    #openSidebarMenu:checked~.sidebarIconToggle>.spinner.bottom {
        transform: rotate(-135deg);
        margin-top: -9px;
    }